<% content_for :title, "New Presentation" %>

<div class="max-w-4xl mx-auto">
  <h1 class="text-4xl font-bold mb-6">New Presentation</h1>
  
  <%= render "form", presentation: @presentation %>
  
  <%= link_to "Back", admin_presentations_path, class: "mt-4 inline-block text-blue-500 hover:underline" %>
</div>

