<% content_for :title, "New Presentation" %>

<div class="max-w-5xl mx-auto">
  <h1 class="<%= h1_classes %>">New Presentation</h1>

  <%= render "form", presentation: @presentation %>

  <%= link_to "Back", admin_presentations_path, class: "mt-4 inline-block #{link_classes}" %>
</div>
