<% content_for :title, @blog_post.title %>

<div class="max-w-4xl mx-auto">
  <article>
    <h1 class="text-4xl font-bold mb-4"><%= @blog_post.title %></h1>
    <p class="text-gray-600 mb-8">
      <%= @blog_post.published_at&.strftime("%B %d, %Y") %>
    </p>
    
    <div class="prose max-w-none">
      <%= render_markdown(@blog_post.content) %>
    </div>
  </article>
</div>

