<% content_for :title, "New Blog Post" %>

<div class="max-w-4xl mx-auto">
  <h1 class="text-4xl font-bold mb-6">New Blog Post</h1>
  
  <%= render "form", blog_post: @blog_post %>
  
  <%= link_to "Back", admin_blog_posts_path, class: "mt-4 inline-block text-blue-600 hover:text-blue-800" %>
</div>

